{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint:recommended", "prettier", "react-app"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "linebreak-style": ["error", "unix"],
    "no-prototype-builtins": "off",
    "no-async-promise-executor": "off",
    "no-useless-escape": "off",
    "no-empty": ["error", { "allowEmptyCatch": true }]
  },
  "globals": {
    "logger": true,
    "callerAddress": true,
    "block": true,
    "contractTx": true,
    "delegatecall": true,
    "value": true,
    "send": true
  }
}
