.background {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 50px;
    left: 0;
    display: inline-block;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 2;
}

.caption {
    margin-left: 5px;
}

.backgroundAll {
    width: 100%;
    height: 100%;
    background-color: #ec7e7e;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
